<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Report.Properties.Settings.SupermarketManagementConnectionString"
      connectionString="Data Source=COMPUTER;Initial Catalog=SupermarketManagement;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="GUI.Properties.Settings.SupermarketManagementConnectionString"
      connectionString="Data Source=ESONDINH\DINHKIENANH;Initial Catalog=Supermarkets;Persist Security Info=True;User ID=giangnamnam;Password=12345"
      providerName="System.Data.SqlClient" />
    <add name="GUI.Properties.Settings.SupermarketManagementConnectionString1"
      connectionString="Data Source=ESONDINH\DINHKIENANH;Initial Catalog=Supermarkets;Persist Security Info=True;User ID=giangnamnam;Password=12345"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
